body{
    color: #fff;
}

.choice-container{
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(20, 20, 209);
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(6, 103, 247, 0.5);
    transform: scale(1.02);
    transition: transform 100ms;
}

.choice-prefix{
    padding: 2rem 2.5rem;
    color: white;
}
.choice-text{
    padding: 2rem;
    width: 100%;
}

.correct{
    background: linear-gradient(32deg, rgb(50, 173, 62) 0%, rgb(62, 174, 17) 100%);
}

.incorrect{
    background: linear-gradient(32deg, rgb(244, 6, 6) 0%, rgb(186, 18, 9) 100%);
}

.hud{
    display: flex;
    justify-content: space-between;
}

#hud-prefix{
    text-align: center;
    font-size: 2rem;
}

.hud-main-text{
    text-align: center;
}

#progressBar{
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(49, 238, 49);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull{
    height: 100%;
    width: 0%;
    background: rgb(27, 203, 77);
}

@media screen and (max-width: 768px){
    .choice-container{
        min-width: 40rem;
    }
}